* {
    margin: 0;
    box-sizing: border-box;
}
body,footer
{
    font-family: 'Roboto','Shrikhand',"Arial Black";
}
.logo img
{ 
    block-size: 40px;
}
.fleche
{
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:xx-large;
    position: absolute;
    left: 10px;
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}
.fleche a{
    color: black;
    cursor: pointer;
}

h1
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: x-large;
    font-family: 'Shrikhand';
    margin: 30px;
}
.myioc
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.coeur
{
    display: inline-block;
    width: 20%;
    height: 40px;
    margin-left: 20px;
    transition: all 200ms ease-in-out;
}
.coeur:hover
{
    cursor: pointer;
    background: linear-gradient(bottom #9356d6 top #ff79da);
    transform:  scale(1.1);
}
h2{
    display: block;
    font-weight: 300;
    border-bottom: 3px solid lightskyblue;
    width: fit-content;
    margin-bottom: 20px;
    animation: h2 300ms 150ms ease-in;
}
@keyframes h2  /* animation des titres du menu*/
{
    100%{
        transform: scaleX(1) rotateY(2turn);
    }
}
.entrées,.plats,.desserts
{
    margin-left: 10px;
    margin-right: 10px;
}
.tarta,.bouch,.velou,.poulet,.langous,.cote,.faran,.crème,.tira
{
    display: block;
    height: 70px;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 2px 3px black ;
    border-radius: 15px;
    margin-bottom: 20px;
}
.tarta:hover,.bouch:hover,.velou:hover,.poulet:hover,.langous:hover,.cote:hover,.faran:hover,.crème:hover,.tira:hover
{
    cursor: pointer;
    transform: scaleY(1) translateX(-10px);
}
.prix
{
    display: block;
    text-align: end;
}
.container{
    border: 2px solid gray;
    border-radius: 30px 30px 0 0;
    background-color: rgb(224, 224, 224);
}
.btn
{
    display: flex;
    justify-content: center;
}
.btn:hover
{
    cursor:pointer;
    transform:scale(1.1);
    transition: transform 200ms 0ms;
}
.bouton
{
    width: 30%;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    z-index: 1;
    background: linear-gradient(#9356d6,#ff79da);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b39ddb;
    border-radius: 20px;
    box-shadow: 0px 6px 5px #90a4ae;
}
.bouton a
{
    text-decoration: none;
    color: white;
}
.final
{
    font-family:'Shrikhand',Impact,Arial;
    font-size: 1.2em;
}
.fin
{
    font-family:'Roboto', impact,Arial;
    display: block;
    padding-left: 20px;
    color:white;
    background-color: #3c3a3a;
    border: 2px solid #3c3a3a;
}
.fin p
{
    margin: 15px;
}
.fin i
{ 
    display: inline-block;
    margin-right: 10px;
}
.fin a /* liens du footer*/
{
    color: white; 
    text-decoration: none;   
}