* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,footer
{
    font-family: 'Roboto','Shrikhand',"Arial Black";
}
.photo
{
    height: 300px;
    background: url("images/restaurants/note.png");
    background-size: cover;
}
.logo img
{ 
    block-size: 40px;
}
.fleche
{
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:xx-large;
    position: absolute;
    left: 10px;
}
.fleche a{
    color: black;
    cursor: pointer;
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}

h1{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: x-large;
    font-family: 'Shrikhand';
    margin: 30px;
}
.myioc
{
    position: relative;
    left: 20px;
}
.coeur 
{
    display: flex;
    width: 50px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20px;
}
.coeur i
{
    position: absolute;
    cursor: pointer;
}

.coeur .fas
{
    opacity:0;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-linear-gradient(#9356d6,#ff79da);
}
.coeur:hover .fas
{
    opacity: 1;
    transition:  opacity 2s;
}

.ravi,.cavi,.homa,.foie,.noix,.langous,.mijo,.maca,.baba,.tarte
{
    display: block;
    height: 70px;
    padding: 15px;
    background-color: white;
    border: 1px solid #f5f5f5;
    box-shadow: 3px 2px 3px #90a4ae;
    border-radius: 15px;
    margin-bottom: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

/*anim des menus*/

.ravi,.noix,.maca
{
    animation: coulisse 3000ms 300ms ease both;
}
.cavi,.langous,.baba
{
    animation: coulisse 3200ms 400ms ease both
}
.homa,.mijo,.tarte
{
    animation: coulisse 3400ms 500ms ease both;
}
.foie
{
    animation: coulisse 3600ms 600ms ease both;
}

@keyframes coulisse 
{
    0%
    {
        transform: translateY(-999px);
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.ravi:hover,.cavi:hover,.homa:hover,.foie:hover,.noix:hover,.langous:hover,.mijo:hover,.maca:hover,.baba:hover,.tarte:hover
{
    cursor: pointer;
}

.inté
{
    display: flex;
    justify-content: space-between;
}
                   /* effet ellipsis*/
.inté p 
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ravi:hover p,.cavi:hover p,.homa:hover p,.foie:hover p,.noix:hover p,.langous:hover p,.mijo:hover p,.maca:hover p,.baba:hover p,.tarte:hover p
{
    width: calc(100% - 180px);

}
.prix
{
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
}

                   /*effet de décalage sur le prix*/

.ravi:hover .prix,.cavi:hover .prix,.homa:hover .prix,.foie:hover .prix,.noix:hover .prix,.langous:hover .prix,.mijo:hover .prix,.maca:hover .prix,.baba:hover .prix,.tarte:hover .prix
{ 
    transform: translateX(-100px);
}
.valid
{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    background-color: #99E2D0;
    top: -1px; right: -2px;
    border-left: 1px solid #99E2D0;
    border-radius: 0 10px 10px 0;
    opacity: 0;
    font-size: larger;

}      

                    /*animation validation*/   

.ravi:hover i,.cavi:hover i,.homa:hover i,.foie:hover i,.noix:hover i,.langous:hover i,.mijo:hover i,.maca:hover i,.baba:hover i,.tarte:hover i
{
    animation: roulade 1000ms 100ms ease both;
}
@keyframes roulade
{
    0%
    {
        transform:translateX(50px) rotate(1turn);
        opacity: 0.1;
    }
    100%
    {
        opacity: 1;
    }
}


                   /*effet de décalage sur la validation*/

.ravi:hover .valid,.cavi:hover .valid,.homa:hover .valid,.foie:hover .valid,.noix:hover .valid,.langous:hover .valid,.mijo:hover .valid,.maca:hover .valid,.baba:hover .valid,.tarte:hover .valid
{
    width: 80px;
    opacity: 1;
}

h2
{
    display: block;
    font-weight: 300;
    border-bottom: 3px solid lightskyblue;
    width: 60px;
    margin-bottom: 20px;
    animation: h2 2000ms 150ms ease-in;
}

@keyframes h2  /* animation des titres du menu*/
{
    100%{
        transform: scaleX(1) rotateY(1turn);
    }
}

.entrées,.plats,.desserts
{
    margin-left: 10px;
    margin-right: 10px;
}
.container{
    border: 2px solid #eeeeee;
    border-radius: 30px 30px 0 0;
    background-color:#eeeeee;
    margin-top: -30px;
}
.btn
{
    display: flex;
    justify-content: center;
}
.bouton
{
    width: 30%;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    z-index: 1;
    background: linear-gradient(#9356d6,#ff79da);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b39ddb;
    border-radius: 20px;
    box-shadow: 0px 6px 5px #90a4ae;
}
.bouton a
{
    text-decoration: none;
    color: white;
}
.bouton:hover
{
    cursor:pointer;
    transform:scale(1.1);
    transition: transform 20ms;
    background: linear-gradient(#9356d673,#ff79da);
    box-shadow: 0 4px 8px 2px #363232fc;
}
.final
{
    font-family:'Shrikhand',Impact,Arial;
    font-size: 1.2em;
}
.fin
{
    font-family:'Roboto', impact,Arial;
    display: block;
    padding-left: 20px;
    color:white;
    background-color: #3c3a3a;
    border: 2px solid #3c3a3a;
}
.fin p
{
    margin: 15px;
}
.fin i
{ 
    display: inline-block;
    margin-right: 10px;
}
.fin a 
{
    color: white; 
    text-decoration: none;   
}

                   /* partie responsive*/

@media screen and (min-width:600px) 
{
    .ravi,.cavi,.homa,.foie,.noix,.langous,.mijo,.maca,.baba,.tarte
    {
        display: block;
        height: 60px;
    }
}
@media screen and (min-width:690px) 
{
    .ravi,.cavi,.homa,.foie,.noix,.langous,.mijo,.maca,.baba,.tarte
    {
        display: block;
        height: 70px;
        padding: 15px;
    }
    h2
    {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 10px double lightskyblue;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1
    {
        font-size: xx-large;
    }
    .ravi,.cavi,.homa,.foie,.noix,.langous,.mijo,.maca,.baba,.tarte
    {
        width: 80%;  
    }
    footer
    {
        text-align: center;
    }
    .photo
    {
        height: 450px;
    }
}
@media screen and (min-width:1024px) 
{
    .ravi,.cavi,.homa,.foie,.noix,.langous,.mijo,.maca,.baba,.tarte
    {
        width: 40%;
        height: 70px;
        margin-left: 30px;
        display: inline-block;
    }
    h2
    {
        width: 50%;
        display: flex;
        justify-content: end;
        border-bottom: 20px double lightskyblue;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1
    {
        font-size: xx-large;
    }
    .entrées,.plats,.desserts
    {
        display: inline;   
    }
    .container
    {
        margin-top: 10px;
        background-color: antiquewhite;
        border: 5px solid lightskyblue;
        border-radius: 100px;
    }
    .photo
    {
        height: 600px;
        border-radius: 100px;
    }
    .btn
    {
        margin: 50px;
    }
    body
    {
        box-sizing: border-box;
        margin: 10px;
        background: linen;
    }
    footer
    {
        margin-top: 10px;
    }
    .fin
    {
        border-radius: 60px;
        margin-top: 10px;
        
    }
    .finish
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    
}