* {
    margin: 0;
    box-sizing: border-box;
}
body,footer
{
    font-family: 'Roboto','Shrikhand',"Arial Black";
}
.photo
{
    background: url("images/restaurants/palette.png");
    background-size: cover;
}
.photo
{
    height: 200px;
}
.logo img
{ 
    block-size: 40px;
}
.fleche
{
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:xx-large;
    position: absolute;
    left: 10px;
}
.fleche a{
    color: black;
    cursor: pointer;
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}

h1{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: x-large;
    font-family: 'Shrikhand';
    margin: 30px;
}
.myioc
{
    position: relative;
    left: 20px;
}
.coeur 
{
    display: flex;
    width: 50px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20px;
}
.coeur i
{
    position: absolute;
    cursor: pointer;
}

.coeur .fas
{
    opacity:0;
   /* z-index: -1;*/
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-linear-gradient(#9356d6,#ff79da);
}/*
.coeur .fas::before
{
    opacity: 1;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-linear-gradient(#9356d6,#ff79da);  
}*/
.coeur:hover .fas
{
    opacity: 1;
    transition:  opacity 2s;
}
@keyframes monte 
{
    0%{
        transform: translateY(-1);
        opacity: 0;
    }
    100%{
        transform: translateY(1);
        opacity: 1;
    }
    
}
.frica,.foie,.oeuf,.filb,.parmen,.filt,.paris,.maca,.mousse
{
    display: block;
    height: 70px;
    padding: 5px;
    background-color: white;
    border: 1px solid #f5f5f5;
    box-shadow: 3px 2px 3px #90a4ae;
    border-radius: 15px;
    margin-bottom: 30px;
    animation: coulisse 2500ms 150ms ease both; 
}

/*anim des menus*/

.frica,.filb,.paris
{
    animation: coulisse 2500ms 1ms ease both;
}
.foie,.parmen,.maca
{
    animation: coulisse 2500ms 300ms ease both
}
.oeuf,.filt,.mousse
{
    animation: coulisse 2500ms 350ms ease both;
}

@keyframes coulisse 
{
    0%
    {
        transform: translateX(-999px);
        opacity: 0.2;
    }
    100%
    {
        transform:translateX(1);
        opacity: 1;
    }
}
.frica:hover,.foie:hover,.oeuf:hover,.filb:hover,.parmen:hover,.filt:hover,.paris:hover,.maca:hover,.mousse:hover
{
    cursor: pointer;
}

.inté
{
    display: flex;
    justify-content: space-between;
}
.prix
{
    width: 70px;
    height: 35px;
    z-index: 0;
    display: flex;
    justify-content: center;
}
                   /*effet de décalage sur le prix*/
.frica:hover .prix, .foie:hover .prix,.oeuf:hover .prix,.filb:hover .prix,.parmen:hover .prix,.filt:hover .prix,.paris:hover .prix,.maca:hover .prix,.mousse:hover .prix
{ 
    transform: translateX(-100px);
}
.valid
{
    
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    background-color: #99E2D0;
    top: -1px; right: -2px;
    border-left: 1px solid #99E2D0;
    border-radius: 0 10px 10px 0;
    opacity: 0;
}
                   /*effet de décalage sur la validation*/
.frica:hover .valid,.foie:hover .valid,.oeuf:hover .valid,.filb:hover .valid,.parmen:hover .valid,.filt:hover .valid,.paris:hover .valid,.maca:hover .valid,.mousse:hover .valid
{
    width: 80px;
    opacity: 1;
}

h2{
    display: block;
    font-weight: 300;
    border-bottom: 3px solid lightskyblue;
    width: fit-content;
    margin-bottom: 20px;
    animation: h2 2000ms 150ms ease-in;
}
@keyframes h2  /* animation des titres du menu*/
{
    100%{
        transform: scaleX(1) rotateY(1turn);
    }
}
.entrées,.plats,.desserts
{
    margin-left: 10px;
    margin-right: 10px;
}
.container{
    border: 2px solid #eeeeee;
    border-radius: 30px 30px 0 0;
    background-color:#eeeeee;
    margin-top: -20px;
}
.btn
{
    display: flex;
    justify-content: center;
}
.btn:hover
{
    cursor:pointer;
    transform:scale(1.1);
    transition: transform 20ms 0ms;
}
.bouton
{
    width: 30%;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    z-index: 1;
    background: linear-gradient(#9356d6,#ff79da);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b39ddb;
    border-radius: 20px;
    box-shadow: 0px 6px 5px #90a4ae;
}
.bouton a
{
    text-decoration: none;
    color: white;
}
.final
{
    font-family:'Shrikhand',Impact,Arial;
    font-size: 1.2em;
}
.fin
{
    font-family:'Roboto', impact,Arial;
    display: block;
    padding-left: 20px;
    color:white;
    background-color: #3c3a3a;
    border: 2px solid #3c3a3a;
}
.fin p
{
    margin: 15px;
}
.fin i
{ 
    display: inline-block;
    margin-right: 10px;
}
.fin a /* liens du footer*/
{
    color: white; 
    text-decoration: none;   
}

/* partie responsive*/

@media screen and (min-width:600px) 
{
    .frica,.foie,.oeuf,.filb,.parmen,.filt,.paris,.maca,.mousse
    {
        display: block;
        height: 60px;
    }
}
@media screen and (min-width:690px) 
{
    .frica,.foie,.oeuf,.filb,.parmen,.filt,.paris,.maca,.mousse
    {
        display: block;
        height: 60px;
        padding: 5px;
    }
    h2
    {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 10px solid lightskyblue;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1
    {
        font-size: xx-large;
    }
    .frica,.foie,.oeuf,.filb,.parmen,.filt,.paris,.maca,.mousse
    {
        width: 80%;  
    }
}
@media screen and (min-width:1024px) 
{
    .frica,.foie,.oeuf,.filb,.parmen,.filt,.paris,.maca,.mousse
    {
        width: 40%;
        height: 70px;
        margin-left: 30px;
        display: inline-block;
    }
    h2
    {
        width: 50%;
        display: flex;
        justify-content: end;
        border-bottom: 20px solid lightskyblue;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1
    {
        font-size: xx-large;
    }
    .entrées,.plats,.desserts
    {
        display: inline;   
    }
    .container
    {
        background-color: none;
    }
    .btn
    {
        margin: 50px;
    }
    body
    {
        box-sizing: content-box;
        margin: 10px;
    }
    .finish
    {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    
}